In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ChicagoCrimes-2001_to_present.csv')

In [3]:
df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10000092,HY189866,03/18/2015 07:44:00 PM,047XX W OHIO ST,041A,BATTERY,AGGRAVATED: HANDGUN,STREET,False,False,...,28.0,25.0,04B,1144606.0,1903566.0,2015,02/10/2018 03:50:01 PM,41.891399,-87.744385,"(41.891398861, -87.744384567)"
1,10000094,HY190059,03/18/2015 11:00:00 PM,066XX S MARSHFIELD AVE,4625,OTHER OFFENSE,PAROLE VIOLATION,STREET,True,False,...,15.0,67.0,26,1166468.0,1860715.0,2015,02/10/2018 03:50:01 PM,41.773372,-87.665319,"(41.773371528, -87.665319468)"
2,10000095,HY190052,03/18/2015 10:45:00 PM,044XX S LAKE PARK AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,...,4.0,39.0,08B,1185075.0,1875622.0,2015,02/10/2018 03:50:01 PM,41.813861,-87.596643,"(41.81386068, -87.596642837)"
3,10000096,HY190054,03/18/2015 10:30:00 PM,051XX S MICHIGAN AVE,0460,BATTERY,SIMPLE,APARTMENT,False,False,...,3.0,40.0,08B,1178033.0,1870804.0,2015,02/10/2018 03:50:01 PM,41.800802,-87.622619,"(41.800802415, -87.622619343)"
4,10000097,HY189976,03/18/2015 09:00:00 PM,047XX W ADAMS ST,031A,ROBBERY,ARMED: HANDGUN,SIDEWALK,False,False,...,28.0,25.0,03,1144920.0,1898709.0,2015,02/10/2018 03:50:01 PM,41.878065,-87.743354,"(41.878064761, -87.743354013)"

In [4]:
df['Date'] = pd.to_datetime(df['Date'])

In [5]:
df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10000092,HY189866,2015-03-18 19:44:00,047XX W OHIO ST,041A,BATTERY,AGGRAVATED: HANDGUN,STREET,False,False,...,28.0,25.0,04B,1144606.0,1903566.0,2015,02/10/2018 03:50:01 PM,41.891399,-87.744385,"(41.891398861, -87.744384567)"
1,10000094,HY190059,2015-03-18 23:00:00,066XX S MARSHFIELD AVE,4625,OTHER OFFENSE,PAROLE VIOLATION,STREET,True,False,...,15.0,67.0,26,1166468.0,1860715.0,2015,02/10/2018 03:50:01 PM,41.773372,-87.665319,"(41.773371528, -87.665319468)"
2,10000095,HY190052,2015-03-18 22:45:00,044XX S LAKE PARK AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,...,4.0,39.0,08B,1185075.0,1875622.0,2015,02/10/2018 03:50:01 PM,41.813861,-87.596643,"(41.81386068, -87.596642837)"
3,10000096,HY190054,2015-03-18 22:30:00,051XX S MICHIGAN AVE,0460,BATTERY,SIMPLE,APARTMENT,False,False,...,3.0,40.0,08B,1178033.0,1870804.0,2015,02/10/2018 03:50:01 PM,41.800802,-87.622619,"(41.800802415, -87.622619343)"
4,10000097,HY189976,2015-03-18 21:00:00,047XX W ADAMS ST,031A,ROBBERY,ARMED: HANDGUN,SIDEWALK,False,False,...,28.0,25.0,03,1144920.0,1898709.0,2015,02/10/2018 03:50:01 PM,41.878065,-87.743354,"(41.878064761, -87.743354013)"

In [6]:
df['year'] = df['Date'].map(lambda x: x.year)

In [7]:
df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,year
0,10000092,HY189866,2015-03-18 19:44:00,047XX W OHIO ST,041A,BATTERY,AGGRAVATED: HANDGUN,STREET,False,False,...,25.0,04B,1144606.0,1903566.0,2015,02/10/2018 03:50:01 PM,41.891399,-87.744385,"(41.891398861, -87.744384567)",2015
1,10000094,HY190059,2015-03-18 23:00:00,066XX S MARSHFIELD AVE,4625,OTHER OFFENSE,PAROLE VIOLATION,STREET,True,False,...,67.0,26,1166468.0,1860715.0,2015,02/10/2018 03:50:01 PM,41.773372,-87.665319,"(41.773371528, -87.665319468)",2015
2,10000095,HY190052,2015-03-18 22:45:00,044XX S LAKE PARK AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,...,39.0,08B,1185075.0,1875622.0,2015,02/10/2018 03:50:01 PM,41.813861,-87.596643,"(41.81386068, -87.596642837)",2015
3,10000096,HY190054,2015-03-18 22:30:00,051XX S MICHIGAN AVE,0460,BATTERY,SIMPLE,APARTMENT,False,False,...,40.0,08B,1178033.0,1870804.0,2015,02/10/2018 03:50:01 PM,41.800802,-87.622619,"(41.800802415, -87.622619343)",2015
4,10000097,HY189976,2015-03-18 21:00:00,047XX W ADAMS ST,031A,ROBBERY,ARMED: HANDGUN,SIDEWALK,False,False,...,25.0,03,1144920.0,1898709.0,2015,02/10/2018 03:50:01 PM,41.878065,-87.743354,"(41.878064761, -87.743354013)",2015

In [9]:
grouped = df.groupby(['year','Primary Type']).size()

In [15]:
grouped

year  Primary Type
2001  ARSON                                 1010
      ASSAULT                              31384
      BATTERY                              93447
      BURGLARY                             26011
      CRIM SEXUAL ASSAULT                   1798
      CRIMINAL DAMAGE                      55851
      CRIMINAL TRESPASS                    13240
      DECEPTIVE PRACTICE                   14906
      DOMESTIC VIOLENCE                        1
      GAMBLING                               934
      HOMICIDE                               667
      INTERFERENCE WITH PUBLIC OFFICER       406
      INTIMIDATION                           279
      KIDNAPPING                             933
      LIQUOR LAW VIOLATION                  1637
      MOTOR VEHICLE THEFT                  27549
      NARCOTICS                            50567
      OBSCENITY                               19
      OFFENSE INVOLVING CHILDREN            2242
      OTHER NARCOTIC VIOLATION                 6
      OTHER OFFENSE                        29657
      PROSTITUTION                          6026
      PUBLIC INDECENCY                         9
      PUBLIC PEACE VIOLATION                2750
      RITUALISM                                8
      ROBBERY                              18441
      SEX OFFENSE                           2231
      STALKING                               203
      THEFT                                99264
      WEAPONS VIOLATION                     4274
                                           ...
2018  WEAPONS VIOLATION                     5445
2019  ARSON                                   19
      ASSAULT                               1263
      BATTERY                               3136
      BURGLARY                               724
      CONCEALED CARRY LICENSE VIOLATION        9
      CRIM SEXUAL ASSAULT                    118
      CRIMINAL DAMAGE                       1617
      CRIMINAL TRESPASS                      519
      DECEPTIVE PRACTICE                    1041
      GAMBLING                                 4
      HOMICIDE                                19
      HUMAN TRAFFICKING                        3
      INTERFERENCE WITH PUBLIC OFFICER        88
      INTIMIDATION                            21
      KIDNAPPING                               8
      LIQUOR LAW VIOLATION                    15
      MOTOR VEHICLE THEFT                    579
      NARCOTICS                             1065
      NON-CRIMINAL                             2
      OBSCENITY                                3
      OFFENSE INVOLVING CHILDREN             159
      OTHER OFFENSE                         1171
      PROSTITUTION                            63
      PUBLIC PEACE VIOLATION                  80
      ROBBERY                                617
      SEX OFFENSE                             57
      STALKING                                14
      THEFT                                 3981
      WEAPONS VIOLATION                      420
Length: 571, dtype: int64

In [16]:
grouped.to_csv('ChiCrime.csv', header=['count'])